<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="post">
        {% for post in listofposts %}
           <div class="postitle">{{post.post_title}}</div>
           <div class="posttext">{{post.post_text}}</div>
           <div class="date">{{post.post_date}}</div>
           <div class="author">{{post.post_author}}</div>
          
          {% for n in post.post_tags.all %}
             <div class="tags"><a href="#">{{n.tag}}</a>,</div>
          {% endfor %}
        
        {% endfor %}
    </div>
</body>
</html>
