<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!!!blog!!!</title>
</head>
<body>
    <div class="post">
        {% for recpost in listofposts %}
           <div class="posttitle">{{recpost.post_title}}</div>
           <div class="posttext">{{recpost.post_text}}</div>
           <div class="postdate">{{recpost.post_date|date:'d F Yг. [H:i:s]'}}</div>
           <div class="postauthor">{{recpost.post_author}}</div>
          
          {% for name in recpost.post_tags.all %}
             <div class="posttags">
                 <ul>
                    <li><a href="/post/{{name.tag}}">{{name.tag}}</a></li>{% if not forloop.last %}, {% endif %}
                 </ul>
             </div>
          {% endfor %}

        {% endfor %}
    </div>
</body>
</html>
