{% load static %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
   <div class="navbar navbar-default">
   <div class="container">
    <div class="row">
        {% block menu %}
        <a href='/'>Главная</a>
        {% endblock %}
    </div>
   </div>
   </div>    
   
   <div class="container"> 
    <div class="row">
     <div class="col-md-12">
       {% block content %}
         Нет постов для отображения
       {% endblock %}
     </div>    
    </div>
    <div class="row"></div>
  </div> 
</body>
</html>
