{% extends 'paper/base.html' %}
{% block content %}    
    <p>{{ postfull.post_date|date:"j F Y [H:i]" }}</p>
    <h2>{{ postfull.post_title }}</h2>
    <p>{{ postfull.post_text }}</p>
    <p>Автор поста: {{ postfull.post_author }}</p>
       
    <p>
      {% if commentsofpost %}
        Комментарии
        {% for comment in commentsofpost %}
         <p>{{ comment.comment_date }}</p>
         <p>{{ comment.comment_text }}</p>
         <p>{{ comment.comment_author }}</p>
        {% endfor %}
      {% else %}
        Комментариев нет
      {% endif %}
    </p>
    
    <p>Теги: 
     <ul>
      {% for name in postfull.post_tags.all %}
       <li><a href="/tags/{{name.tag}}">{{name.tag}}</a>{% if not forloop.last %},  {% endif %}</li>
      {% endfor %}
     </ul>
    </p> 
{% endblock %}
