{% extends 'paper/base.html' %}

<div class='container'>

{% block content %}    
    <p>{{ postfull.post_date|date:"j F Y [H:i]" }}</p>
    <h2>{{ postfull.post_title }}</h2>
    <p>{{ postfull.post_text }}</p>
    <p>Автор поста: {{ postfull.post_author }}</p>
    
    
    <div class='row'>
         <div class='col-md-12'>
         <div class='tags'>
          <ul>
           Теги:    
           {% for name in postfull.post_tags.all %}
             <li><a href="/tags/{{name.tag}}">{{name.tag}}</a>{% if not forloop.last %},  {% endif %}</li>
           {% endfor %}
          </ul>
         </div>
         </div>
    </div>

        
    <div>
     <form action='/post/{{ postfull.id }}/' method='post'>
        {% csrf_token %} 
        <p>Автор комментария: {{ commentform.comment_author }}</p>
        <p>Текст комментария: {{ commentform.comment_text }}</p>
        <p><input type="submit" value='Добавить'></p>
     </form>
    </div>

    <p>
      {% if commentsofpost %}
        Комментарии
        {% for comment in commentsofpost %}
         <p>{{ comment.comment_date|date:"j.m.Y [H:i]" }} {{ comment.comment_author }}</p>
         <p>{{ comment.comment_text }}</p>
        {% endfor %}
      {% else %}
        Комментариев нет
      {% endif %}
    </p>

{% endblock %}

</div>
