{% extends 'paper/base.html' %}
{% block content %}    
    <p>{{ postfull.post_date|date:"j F Y [H:i]" }}</p>
    <h2>{{ postfull.post_title }}</h2>
    <p>{{ postfull.post_text }}</p>
    <p>{{ postfull.post_author }}</p>
       
    <p>
      Комментарии
      {% for comment in commentsofpost %}
       {{ comment.comment_date }}
       {{ comment.comment_text }}
       {{ comment.comment_author }}
      {% endfor %}
    </p>
    <ul>
     {% for name in postfull.post_tags.all %}
       <li><a href="/tags/{{name.tag}}">{{name.tag}}</a>{% if not forloop.last %},  {% endif %}</li>
     {% endfor %}
    </ul>

{% endblock %}
