{% extends 'paper/base.html' %}
{% block content %}
<h2> Найдено {{ getposts|length }} постов с тегом {{ selecttag }} </h2>
    {% for t in postsoftag %}
        <h2><a href="/post/{{ t.id }}">{{ t.post_title }}</a></h2>
        <p>{{ t.post_date|date:"j F Y [H:i]" }}</p>
        <p>{{ t.post_text|truncatewords:15}} <a href="/post/{{ t.id }}">читать далее</a></p>
        <p>Автор поста: {{ t.post_author }}</p>

        <p>Теги :
         <ul>
          {% for name in t.post_tags.all %}
            <li><a href="/tags/{{name.tag}}">{{name.tag}}</a>{% if not forloop.last %},  {% endif %}</li>
          {% endfor %}
         </ul>
        </p>
        {% empty %}
    <p>Нет постов</p>
    {% endfor %}
    
    <p>
    {% if postsoftag.has_previous %}
      <a href="?page={{ postsoftag.previous_page_number }}">назад</a>
    {% endif %}
    
    [ {{ postsoftag.number }} / {{ postsoftag.paginator.num_pages }} ]
    
    {% if postsoftag.has_next %}
      <a href="?page={{ postsoftag.next_page_number }}">вперед</a>
    {% endif %}
    </p>

{% endblock %}
